<div class="row-fluid">
  <p id="basic-group-info" class="text-info text-center">
    <strong><span id="my-name" class="muted"></span></strong>
    <%= t('.round_before')%><span id="round-id"></span><%= t('.round_after')%>
    <%= t('.round_penalty')%><span id="round-penlaty"></span>
  </p>
</div>

<div class="row-fluid">
  <table class="table" id="statistics">
    <thead>
      <tr>
        <th>#</th>
        <th>User Name</th>
        <th>User Name</th>
        <th>User Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= t('.total_earnings')%></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td><%= t('.last_earnings')%></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="row-fluid">
    <ul class="thumbnails">
      <li id="left_opponent" class="span6">
        <div class="thumbnail">
          <%= render 'opponent' %>
        </div>

      </li>

      <li id="right_opponent" class="span6">
        <div class="thumbnail">
          <%= render 'opponent' %>
        </div>
      </li>

    </ul>

</div>


<div id="next-round" class="modal hide" data-backdrop="static" data-keyboard="false">
  <div class="modal-body">
    <p>A deal is reached between <span id="first"></span> and <span id="second"></span>, Press <strong>OK</strong> and wait others to confirm</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" id="ok">OK</a>
  </div>
</div>


<div id="system-init" class="modal hide">
  <div class="modal-body">
    <p>You can start the game now</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" id="ok">OK</a>
  </div>
</div>



<%= javascript_include_tag "game" %>
