<div>
  <%= simple_form_for :login, :html => {:url => login_path} do |f| %>
    <%= f.input :username %>
    <%= f.input :password %>
    <%= f.button :submit, 'Login' %> or <%= link_to 'Register', new_user_url, {:class=>"btn"} %>    
  <% end %>
</div>


